body.main {
    font-family: "Source Sans 3", sans-serif;
    margin: 0;
    padding: 24px;
    background-color: white;
    color: #666;
    display: flex;
    flex-direction: column;
    gap: 36px;
    align-items: center;
    max-width: 100vw;
}

.inner_1440 {
    width: 80vw;
    max-width: 1440px;
    padding: 40px;
    border-radius: 8px;
    border: 1px dotted cadetblue;
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: 2em;
    text-align: center;
}

h6 {
    font-size: 1em;
    font-weight: normal;
    text-align: center;
}

.top p {
    text-align: center;
}

.middle img {
    width: 400px;
}

a[href], a[href]:visited {
    color: cadetblue;
}

em {
    font-style: normal;
    font-weight: bold;
}

canvas {
    align-self: center;
}


@media screen and (max-width: 768px) {
    body.main {
        font-size: 14px;
    }

    .inner_1440 {
        max-width: 85vw;
        padding: 16px;
    }

    .middle {
        display: flex;
        align-items: center;
    }

    .middle img {
        max-width: 75vw;
    }
}